/* Estilo sencillo de Header  */

.header {
  background-color: #dd611a;
  color: white;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  font-size: 1.5rem;
  font-weight: bold;
}

.header__nav a {
  color: white;
  text-decoration: none;
  margin-left: 20px;
  font-size: 1rem;
}

.header__nav a:hover {
  text-decoration: underline;
}
